<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
	    <meta name="viewport" content="initial-scale=1, width=device-width">
	    
		<title>Food For Everyone</title>
		
		<link href="/static/Food.ico" rel="icon">
		<link rel="stylesheet" href="/static/Start.css">
	</head>
	<body>
		<div class="wrapper">
			<nav class="navbar">
		           <ul>
					<li><a href="/">Home</a></li>
					<li><a class="active" href="/about">About</a></li>
					<li><a href="/Sign Up">Sign Up</a></li>
					<li><a href="/login">Login</a></li>
		     	</ul>
			</nav>
			<div class="center">
				<h1>Food For Everyone</h1>
				<h2>OnlineResturant</h2>
				<h3> (FFE) specializes in delicious food featuring fresh ingredients and masterful preparation by the (FFE) culinary team.</h3>
				<h3>The approach to the menu was easy. We had no interest in trying to reinvent food. We went with choices that were popular catering requests — basic, down-home style — just from a wide range of regions. We are known for our generous portions of BBQ meals and Pizza. </h3>
				<h3>We will tell you now – Try out our Resturant!</h3>
			</div>
		</div>
	</body>
</html>