{% extends "layout.html" %}

{% block title %}
    Menu
{% endblock %}

{% block main %}
        <h1>Chicken Menu</h1>

        <form action="/chicken" method="post">

            <div class="float-left" >
                <img class="Mimg" src="static/Fahita.jpeg">
                <h3><input name="name" type="radio" value="Fahita"> Fahita </h3>
                <h4>
                    <input name="size" type="radio" value="Sandwish">Sandwish
                    <input name="size" type="radio" value="Meal">Meal
                </h4>
                <h5 id="price">Price: Currently Unavailable</h4>
            </div>

            <div class="float-Right" >
                <img class="Mimg" src="static/Scallop.jpg">
                <h3><input name="name" type="radio" value="Chicken Scallop"> Chicken Scallop </h3>
                <h4>
                    <input name="size" type="radio" value="Sandwish">Sandwish
                    <input name="size" type="radio" value="Meal">Meal
                </h4>
                <h5 id="price">Price: Currently Unavailable</h5>
            </div>

            <div class="float-left" >
                <img class="Mimg" src="static/Shish.jpg">
                <h3><input name="name" type="radio" value="Shish"> Shish </h3>
                <h4>
                    <input name="size" type="radio" value="Sandwish">Sandwish
                    <input name="size" type="radio" value="Meal">Meal
                </h4>
                <h5 id="price">Price: Currently Unavailable</h5>
            </div>

            <div class="float-Right" >
                <img class="Mimg" src="static/Crispy.jpg">
                <h3> <input name="name" type="radio" value="Chicken Crispy"> Chicken Crispy </h3>
                <h4>
                    <input name="size" type="radio" value="Sandwish">Sandwish
                    <input name="size" type="radio" value="Meal">Meal
                </h4>
                <h5 id="price">Price: Currently Unavailable</h5>
            </div>
            <br>
            <br>
            <input class="form-control" required style="width: 150px;" name="quantity" placeholder="Quantity" type="number" min="1" max="10">
            <br>
            <br>
            <button class="btn btn-primary" type="submit" value="Submit">Add to Cart</button>

        </form>

{% endblock %}
