{% extends "layout.html" %}

{% block title %}
    Menu
{% endblock %}

{% block main %}
        <h1>Menu</h1>
        <a class="float-left" href="/meat">
            <img class="Mimg" src="static/Meat.jpg">
            <h1> Meat </h1>
        </a>
        <a class="float-Right" href="/pizza">
            <img class="Mimg" src="static/Pizza.jpg">
            <h1> Pizza </h1>
        </a>
        <a class="float-left" href="/chicken">
            <img class="Mimg" src="static/Chicken.jpg">
            <h1> Chicken </h1>
        </a>
        <a class="float-Right" href="/potato">
            <img class="Mimg" src="static/Potatos.jpg">
            <h1> Potatos </h1>
        </a>
         
{% endblock %}
