{% extends "layout.html" %}

{% block title %}
    Menu
{% endblock %}

{% block main %}
        <h1>Potato Menu</h1>

        <form action="/potato" method="post">

            <div class="float-left" >
                <img class="Mimg" src="static/French Fries.jpg">
                <h3><input name="name" type="radio" value="French Fries"> French Fries </h3>
                <h4>
                    <input name="size" type="radio" value="small">Small
                    <input name="size" type="radio" value="large">Large
                </h4>
                <h5 id="price">Price: Currently Unavailable</h4>
            </div>

            <div class="float-Right" >
                <img class="Mimg" src="static/Mozarella Croquettes.jpg">
                <h3><input name="name" type="radio" value="Mozarella Croquettes"> Mozarella Croquettes </h3>
                <h4>
                    <input name="size" type="radio" value="small">Small
                    <input name="size" type="radio" value="large">Large
                </h4>
                <h5 id="price">Price: Currently Unavailable</h5>
            </div>

            <div class="float-left" >
                <img class="Mimg" src="static/Mozarella French Fries.jpg">
                <h3><input name="name" type="radio" value="Mozarella French Fries"> Mozarella French Fries </h3>
                <h4>
                    <input name="size" type="radio" value="small">Small
                    <input name="size" type="radio" value="large">Large
                </h4>
                <h5 id="price">Price: Currently Unavailable</h5>
            </div>

            <div class="float-Right" >
                <img class="Mimg" src="static/Wedges.jpg">
                <h3> <input name="name" type="radio" value="Wedges"> Wedges </h3>
                <h4>
                    <input name="size" type="radio" value="small">Small
                    <input name="size" type="radio" value="large">Large
                </h4>
                <h5 id="price">Price: Currently Unavailable</h5>
            </div>
            <br>
            <br>
            <input class="form-control" required style="width: 150px;" name="quantity" placeholder="Quantity" type="number" min="1" max="10">
            <br>
            <br>
            <button class="btn btn-primary" type="submit" value="Submit">Add to Cart</button>

        </form>
{% endblock %}
